<template>
  <q-page-container class="full-width row justify-center wrap">
    <q-card class="col-xl-6 col-md-9 col-sm-11 q-ma-sm q-pa-lg">
      <span v-html="parseMarkdown(pageMd)"></span>
    </q-card>
  </q-page-container>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {marked} from "marked";
import ExtendedVueRoot from "../models/ExtendedRoot";

export default defineComponent({
  name: 'GuideView',
  data() {
    return {
      pageMd: "" as string
    }
  },

  mounted() {
    this.fetchPage();
  },

  computed: {
    lang(): string {
      return (this.$root as ExtendedVueRoot).selectedLang;
    }
  },
  methods: {
    parseMarkdown(markdown: string) {
      if (markdown) {
        markdown = markdown.replaceAll("![](", `![](${import.meta.env.VITE_API_PATH}/`)
        markdown = markdown.replaceAll("img src=\"", `img src="${import.meta.env.VITE_API_PATH}/`)
        return marked(markdown);
      } else {
        return "";
      }
    },
    fetchPage(): void {
      fetch(`${import.meta.env.VITE_API_PATH}/guide-${this.lang}.md`)
          .then(r => r.text())
          .then(d => this.pageMd = d);
    }
  },

  watch: {
    lang() {
      this.fetchPage();
    }
  }
});
</script>