<template>
  <q-page-container class="row justify-center">
    <q-card class="col-xl-6 col-md-8 col-sm-11 q-ma-sm">
      <div v-for="[index, item] of tasks.entries()">
        <div class="q-px-lg q-pa-md" v-if="page === index">
          <q-toolbar-title class="text-h5 q-my-md">{{ item.title }}</q-toolbar-title>
          <div class="q-mx-md parsed" v-html="parseMarkdown(item.description)"></div>
          <p class="text-h6">{{ getLocaleText('question') }}</p>
          <div v-for="[index, question] of item.questions.entries()">
            <div class="parsed" v-html="parseMarkdown(question.question)"/>
            <v-question-form :ref="`q-${page}-${index}`" :question="question" :is-enabled="!confirmed"
                             :is-confirmed="confirmed" :quiz-view="true" @answerChanged="changeAnswerState"/>
          </div>
          <div v-if="confirmed">
            <q-expansion-item v-if="item.explanation" :label="getLocaleText('questionExplanation')">
              <div class="q-mx-md parsed" v-html="parseMarkdown(item.explanation)"></div>
            </q-expansion-item>
            <q-expansion-item v-if="item.informatics" :label="getLocaleText('thisIsInformatics')">
              <div class="q-mx-md parsed" v-html="parseMarkdown(item.informatics)"></div>
            </q-expansion-item>
          </div>
        </div>
      </div>
      <div class="q-px-lg q-pa-md" v-if="page === tasks.length">
        <q-toolbar-title class="text-h5 q-my-md">{{ getLocaleText('overview') }}</q-toolbar-title>
        <q-markup-table>
          <thead>
          <tr>
            <th class="text-left">{{ getLocaleText('tasks') }}</th>
            <th class="text-left text-capitalize">{{ getLocaleText('status') }}</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="[index, task] of tasks.entries()" class="cursor-pointer" @click="page = index">
            <td>{{ getLocaleText("task") }} {{ index + 1 }}</td>
            <td>
              <q-chip
                  v-if="!confirmed && task.questions.every(q => q.state === AnswerState.CORRECT || q.state === AnswerState.INCORRECT)"
                  square color="lightgray" text-color="black" :icon="icons.outlinedCheck">
                {{ getLocaleText('answered') }}
              </q-chip>
              <q-chip v-else-if="!confirmed" square color="lightgray" text-color="black" :icon="icons.outlinedClose">
                {{ getLocaleText('unanswered') }}
              </q-chip>
              <q-chip v-else-if="task.questions.every(q => q.state === AnswerState.CORRECT)" square color="green"
                      text-color="white" :icon="icons.outlinedCheck">
                {{ getLocaleText('correctAnswer') }}
              </q-chip>
              <q-chip v-else-if="task.questions.some(q => q.state === AnswerState.CORRECT)" square color="warning"
                      text-color="white" :icon="icons.outlinedCheck">
                {{ getLocaleText('correctAnswer') }}
              </q-chip>
              <q-chip v-else-if="task.questions.some(q => q.state === AnswerState.CORRECT)" square color="orange"
                      text-color="white" :icon="icons.outlinedCheck"> {{ getLocaleText('partiallyCorrect') }}
              </q-chip>
              <q-chip v-else square color="red" text-color="white" :icon="icons.outlinedClose">
                {{ getLocaleText('wrongAnswer') }}
              </q-chip>
            </td>
          </tr>
          </tbody>
        </q-markup-table>
        <div class="row justify-between q-mt-md">
          <q-space/>
          <q-btn color="primary" class="q-my-md" v-if="!confirmed" @click="confirmQuiz">
            {{ getLocaleText('confirmAnswers') }}
          </q-btn>
          <q-btn color="primary" class="q-my-md" v-else @click="endQuiz">{{ getLocaleText('finishOverview') }}</q-btn>
        </div>
      </div>
      <div v-if="page < tasks.length" class="q-px-lg flex q-my-md pagination">
        <q-btn v-if="page > 0" outline @click="page--">{{ getLocaleText('previous') }}</q-btn>
        <q-space/>
        <p>{{ page + 1 }}/{{ tasks.length }}</p>
        <q-space/>
        <q-btn outline @click="page++">{{ getLocaleText('next') }}</q-btn>
      </div>
    </q-card>
    <q-card class="col-xl-2 col-md-2 col-xs-11 q-ma-sm q-gutter-sm pagination q-pa-md">
      <q-toolbar-title>{{ getLocaleText('tasks') }}</q-toolbar-title>
      <div>
      <span v-for="[index, task] of tasks.entries()" class="justify-between q-ma-none">
        <span :class="index === page ? 'active': ''">
          <q-btn
              :class="{
                'q-ma-xs': true,
                'active-question': page === index,
                'answered': task.state !== AnswerState.EMPTY,
                'correct-answer': confirmed && task.questions.every(q => q.state === AnswerState.CORRECT),
                'wrong-answer': confirmed && task.questions.every(q => q.state === AnswerState.INCORRECT || q.state === AnswerState.EMPTY || q.state === undefined),
                'incomplete-answer': confirmed && task.questions.some(q => q.state === AnswerState.INCORRECT) && task.questions.some(q => q.state === AnswerState.CORRECT)
              }"
              outline style="width: 25px" @click="page = index">{{ index + 1 }}</q-btn>
        </span>
      </span>
      </div>
      <div>
        <a class="text-bold cursor-pointer" @click="page = tasks.length">
          {{ confirmed ? getLocaleText('overview') : getLocaleText('confirmAnswers') }}
        </a>
      </div>
    </q-card>
  </q-page-container>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {marked} from "marked";
import VQuestionForm from "../components/VQuestionForm.vue";
import ExtendedVueRoot from "../models/ExtendedRoot";
import Task from "../models/Task";
import {AnswerState} from "../models/questions/AnswerState";
import {outlinedCheck, outlinedClose} from "@quasar/extras/material-icons-outlined";
import TaskIndex from "../models/TaskIndex";
import CombinedTask from "../models/CombinedTask";

export default defineComponent({
  name: 'QuizView',
  components: {VQuestionForm},
  data() {
    return {
      page: 0 as number,
      tasks: [] as CombinedTask[],
      confirmed: false as boolean,
      icons: {
        outlinedCheck,
        outlinedClose
      },
      AnswerState
    }
  },
  mounted() {
    const quizData = localStorage.getItem("quiz");
    if (quizData !== null && (this.$route.query.tasks == null || this.$route.query.tasks === localStorage.getItem("selectedTasks"))) {
      const quizParsed = JSON.parse(quizData);
      this.tasks = quizParsed.tasks;
      this.confirmed = quizParsed.confirmed;
      if (this.$route.query.page != undefined) {
        this.page = Number(this.$route.query.page) - 1;
      } else {
        this.page = this.tasks.length;
      }
    } else if (this.$route.query.tasks != null && typeof this.$route.query.tasks === 'string') {
      localStorage.setItem("selectedTasks", this.$route.query.tasks);
      this.fetchTasks();
    }

  },

  computed: {
    lang(): string {
      return (this.$root as ExtendedVueRoot).selectedLang;
    },
    item(): Task {
      return this.tasks[this.page];
    },
    answeredCount(): number {
      return this.tasks.filter(t => t.state !== null && t.state !== AnswerState.EMPTY).length;
    }
  },
  methods: {
    getLocaleText(path: string): string {
      return (this.$root as ExtendedVueRoot).getLocaleText(path);
    },

    parseMarkdown(markdown: string) {
      if (markdown) {
        markdown = markdown.replaceAll("![](", `![](${import.meta.env.VITE_API_PATH}/`)
        markdown = markdown.replaceAll("img src=\"", `img src="${import.meta.env.VITE_API_PATH}/`)
        return marked.parse(markdown);
      } else {
        return "";
      }
    },

    async fetchTasks(): Promise<void> {
      const tasks = localStorage.getItem("selectedTasks");
      if (tasks != null) {
        const taskIds: string[] = decodeURIComponent(tasks).split("-");
        let taskIndexes: TaskIndex[] | void = await fetch(`${import.meta.env.VITE_API_PATH}/tasks/index-${this.lang === 'et' ? 'est' : 'rus'}.json`)
            .then(r => r.json())
            .then((taskIndex: TaskIndex[]) => taskIndex.filter(taskIndex => taskIds.includes(String(taskIndex.id))));
        if (taskIndexes) {
          Promise.all(taskIndexes.map(t => this.fetchTask(t))).then(() => {
            this.syncToLocalStorage();
          });
        }
      }
    },

    async fetchTask(indexedTask: TaskIndex): Promise<void> {
      await fetch(`${import.meta.env.VITE_API_PATH}/${indexedTask.path}`)
          .then(r => r.json())
          .then((task: Task) => {
            let combined = {...task, ...indexedTask};
            combined.state = AnswerState.EMPTY;
            let existingTask = this.tasks.find(t => t.id === combined.id);
            if (existingTask != null) {
              for (let i = 0; i < existingTask.questions.length; i++) {
                combined.questions[i].userAnswer = existingTask.questions[i].userAnswer;
                combined.questions[i].state = existingTask.questions[i].state;
              }
              combined.state = existingTask.state;
              Object.assign(existingTask, combined);
            } else {
              this.tasks.push(combined);
            }
          });
    },

    changeAnswerState(state: AnswerState): void {
      this.tasks[this.page].state = state;
      this.syncToLocalStorage();
    },

    confirmQuiz(): void {
      this.confirmed = true;
      this.syncToLocalStorage();
      return;
    },

    endQuiz(): void {
      localStorage.removeItem("selectedTasks");
      localStorage.removeItem("quiz");
      this.$router.push({path: "tasks"});
    },

    syncToLocalStorage() {
      localStorage.setItem("quiz", JSON.stringify({tasks: this.tasks, confirmed: this.confirmed}));
    }
  },
  watch: {
    lang() {
      this.fetchTasks();
    },
    page() {
      this.$router.push(`quiz?tasks=${localStorage.getItem("selectedTasks")}&page=${this.page + 1}`);
    },
    '$route.query.page'() {
      if (this.$route.query.page) {
        this.page = Number(this.$route.query.page) - 1;
      }
    }
  }
});
</script>

<style lang="scss">
img {
  max-width: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
}

.parsed table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

code {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  display: inline;
}

.pagination {
  height: fit-content !important;
}

.active-question:before {
  border-width: 2px !important;
}

.answered {
  background: lightgray !important;
}

.correct-answer {
  background: lightgreen !important;
}

.wrong-answer {
  background: indianred !important;
}

.incomplete-answer {
  background: $warning !important;
}

</style>