<template>
  <q-page-container class="full-width row justify-center wrap">
    <q-card class="col-xl-6 col-md-9 col-sm-11 q-ma-sm row">
      <q-card-section>
        <q-toolbar-title>{{ getLocaleText('results') }}</q-toolbar-title>
      </q-card-section>
      <q-card-section class="full-width row justify-center">
        <q-select class="col-4 q-px-sm" dense :label="getLocaleText('year')" v-model="filters.year"
                  @update:model-value="fetchResults" :options="filters.allYears"/>
        <q-select class="col-4 q-px-sm" dense :label="getLocaleText('round')" v-model="filters.round"
                  @update:model-value="fetchResults" :options="filters.allRounds"/>
        <q-select class="col-4 q-px-sm" dense :label="getLocaleText('ageCategory')" v-model="filters.ageCat"
                  @update:model-value="fetchResults" :options="filters.allAgeCats"
                  :option-label="opt => opt && getLocaleText(`ageCategories.${opt}`)"
        >
        </q-select>
        <q-input v-if="results.length > 0" class="col-4 q-px-sm" dense :label="getLocaleText('school')" clearable
                 v-model="filters.school" :debounce="150"/>
        <q-input v-if="results.length > 0" class="col-4 q-px-sm" dense :label="getLocaleText('name')" clearable
                 v-model="filters.name" :debounce="150"/>
      </q-card-section>
      <q-card-section class="full-width row justify-center">
        <q-table flat class="sticky-table-header"
                 row-key="id"
                 :no-data-label="getLocaleText('noResults')"
                 :columns="tableColumns"
                 :rows="filteredResults"
                 :grid="$q.screen.lt.sm"
                 :loading="loading"
                 :rows-per-page-options="[0]"
        >
          <template v-slot:bottom="scope">
            <span class="full-width justify-end text-right">
              {{filteredResults.length}} / {{results.length}}
            </span>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </q-page-container>
</template>


<script lang="ts">
import {defineComponent} from "vue";
import ExtendedVueRoot from "../models/ExtendedRoot";
import Result from "../models/Result";
import ResultIndex from "../models/ResultIndex";

export default defineComponent({
  name: 'ResultsView',
  data() {
    return {
      loading: false,
      filters: {
        allYears: [] as string[],
        year: "" as string,
        allRounds: [] as number[],
        round: 0 as number,
        school: "" as string,
        allAgeCats: [] as string[],
        ageCat: "" as string,
        name: "" as string
      },

      index: [] as ResultIndex[],
      results: [] as Result[]
    }
  },
  created() {
    this.fetchIndex();
  },

  computed: {
    filteredResults(): Result[] {
      return this.results.filter((r: Result) =>
          (!this.filters.name || r.name.toLowerCase().includes(this.filters.name.toLowerCase())) &&
          (!this.filters.school || r.school.toLowerCase().includes(this.filters.school.toLowerCase()))
      )
    },

    tableColumns(): any[] {
      return [
        {
          name: 'place',
          label: this.getLocaleText('table.place'),
          field: 'place',
          align: 'left',
          sortable: true
        },
        {
          name: 'name',
          label: this.getLocaleText('name'),
          field: 'name',
          required: true,
          align: 'left',
          sortable: true
        },
        {
          name: 'school',
          label: this.getLocaleText('school'),
          field: 'school',
          align: 'left',
          sortable: true
        },
        {
          name: 'grade',
          label: this.getLocaleText('table.grade'),
          field: 'grade',
          align: 'right',
          sortable: true
        },
        {
          name: 'points',
          label: this.getLocaleText('table.points'),
          field: 'points',
          align: 'right',
          sortable: true
        },
        {
          name: 'details',
          label: this.getLocaleText('table.details'),
          field: 'notes',
          sortable: true
        }
      ]
    },
    noCacheHeaders(): Headers {
      const headers: Headers = new Headers();
      headers.append('pragma', 'no-cache');
      headers.append('cache-control', 'no-cache');
      return headers;
    }
  },
  methods: {
    getLocaleText(path: string): string {
      return (this.$root as ExtendedVueRoot).getLocaleText(path);
    },

    async fetchIndex(): Promise<void> {
      this.loading = true;
      await fetch(`${import.meta.env.VITE_API_PATH}/results/index.json`, {headers: this.noCacheHeaders})
          .then(r => r.json())
          .then((d: ResultIndex[]) => this.index = d)
          .finally(() => {
            this.loading = false
      });

      this.filters.allYears = [...new Set(this.index.map(r => r.year))].sort().reverse();
      this.filters.year = this.filters.allYears[0];
      this.filters.allRounds = [...new Set(this.index.map(r => r.round))].sort();
      this.filters.round = this.filters.allRounds[0];
      this.filters.allAgeCats = [...new Set(this.index.map(r => r.ageCat))];
      this.filters.ageCat = this.filters.allAgeCats[0];

      await this.fetchResults();
    },

    async fetchResults(): Promise<void> {
      if (this.filters.year && this.filters.round && this.filters.ageCat) {
        this.loading = true;
        let results: Result[] = [];

        let indexEntry = this.index.filter(i =>
            i.year === this.filters.year &&
            i.round === this.filters.round &&
            i.ageCat === this.filters.ageCat
        );

        if (indexEntry.length == 0) {
          this.results = results;
          this.loading = false;
          return;
        }

        await fetch(`${import.meta.env.VITE_API_PATH}/${indexEntry[0].path}`)
            .then(r => r.json())
            .then((d: Result[]) => results = d);
        this.results = results;
        this.loading = false;
      }
    }
  }
});
</script>

<style lang="sass">

.sticky-table-header
  height: 600px
  width: 100%
  overflow-y: auto

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1

  thead tr:first-child th
    top: 0

  &.q-table--loading thead tr:last-child th
    top: 48px
</style>