<template>
  <q-page-container class="full-width row justify-center">
    <q-card class="col-xl-6 col-md-9 col-sm-11 q-ma-sm">
      <q-card-section>
        <q-toolbar-title style="white-space: pre-wrap">{{ getLocaleText('search') }}</q-toolbar-title>
      </q-card-section>
      <q-card-section class="full-width row justify-center">
        <q-select class="col-sm-4 col-xs-6 q-px-sm" dense :label="getLocaleText('year')" clearable
                  v-model="filters.year"
                  :options="filters.all.years" @update:model-value="filterTasks()"/>
        <q-select class="col-sm-4 col-xs-6 q-px-sm" dense :label="getLocaleText('round')" clearable
                  v-model="filters.round"
                  :options="filters.all.rounds" @update:model-value="filterTasks()"/>
        <q-select class="col-sm-4 col-xs-6 q-px-sm" dense
                  :label="getLocaleText('ageCategory')"
                  clearable
                  v-model="filters.ageCategory"
                  :options="filters.all.ageCategories"
                  :option-label="opt => getLocaleText(`ageCategories.${opt}`)"
                  @update:model-value="filterTasks()">

        </q-select>
        <q-input v-if="filters.expanded" class="col-sm-4 col-xs-6 q-px-sm" dense :label="getLocaleText('title')"
                 v-model="filters.title" :debounce="500" @update:model-value="filterTasks()"/>
        <q-select v-if="filters.expanded" class="col-sm-4 col-xs-6 q-px-sm" dense
                  :label="getLocaleText('country')"
                  v-model="filters.countries"
                  @update:model-value="filterTasks()"
                  options-selected-class="text-bold text-blue"
                  :options="filters.filteredCountries"
                  :option-label="opt => opt && opt.label || 'unknown'"
                  options-dense
                  multiple
                  use-chips
                  use-input
                  input-debounce="0"
                  @filter="filterCountries"
                  clearable/>
        <q-select v-if="filters.expanded" class="col-sm-4 col-xs-6 q-px-sm" dense :label="getLocaleText('categories')"
                  clearable
                  v-model="filters.categories"
                  options-dense
                  multiple
                  use-chips
                  :options="filters.all.categories"
                  :option-label="opt => opt[0].toUpperCase() + opt.substring(1)"
                  @update:model-value="filterTasks()"
        />
        <q-toggle v-if="filters.expanded" v-model="showAnswers" :label="getLocaleText('showAllAnswers')"
                  class="q-mt-sm"/>
        <q-toggle v-if="filters.expanded" v-model="selection.enabled" :label="getLocaleText('selectionMode')"
                  class="q-mt-sm"/>
        <span class="full-width row justify-center">
          <a @click="filters.expanded = !filters.expanded" class="text-caption cursor-pointer q-mt-md text-blue-6">
            {{ filters.expanded ? getLocaleText('lessFilters') : getLocaleText('moreFilters') }}
          </a>
      </span>
      </q-card-section>
    </q-card>
    <div class="full-width row justify-center q-mt-lg">
      <p v-if="quizActive">Aktiivse viktoriini ajal ei ole võimalik ülesandeid sirvida!
        <router-link to="/quiz">Palun lõpeta enda esitus</router-link>.
      </p>
      <p v-else-if="indexedTasks.length > 0 && filteredTasks.length === 0">{{ getLocaleText('noTasks') }}</p>
    </div>
    <q-infinite-scroll ref="infiniteScroll" v-if="indexedTasks.length > 0 && !quizActive" @load="fetchNext"
                       :initial-index="-2" class="full-width row justify-center">
      <div class="full-width row justify-center">
        <q-card class="col-xl-6 col-md-9 col-sm-11 q-ma-sm" v-for="item in filteredTasks" :key="item.title">
          <q-card-section class="print-no-break">
            <q-toolbar class="full-width justify-between" style="min-height: 30px !important;">
              <q-checkbox v-if="selection.enabled && item.questions.every(q => q.type !== 'invalid')" size="xs" v-model="selection.list" :val="item.id"/>
              <q-toolbar-title class="text-h5">{{ item.title }}</q-toolbar-title>
              <span>
              <img v-if="item.country" :src="`https://flagcdn.com/36x27/${item.country}.png`"
                   :srcset="`https://flagcdn.com/72x54/${item.country}.png 2x, https://flagcdn.com/108x81/${item.country}.png 3x`"
                   width="36" height="27" :alt="item.country">
                <q-tooltip anchor="center left" self="center right">
                {{ getLocaleText('originalTaskSource') }} {{ getLocaleText(`countries.${item.country}`) }}
                </q-tooltip>
              </span>
            </q-toolbar>
            <div class="q-mx-md">
            <span v-for="i of Array(item.ageCat.length).keys()">
              <small style="white-space: nowrap">{{ item.year }} > {{
                  item.round
                }}. {{ getLocaleText('round').toLowerCase() }} > {{
                  getLocaleText(`ageCategories.${[item.ageCat[i]]}`).toLowerCase()
                }} > {{ getLocaleText('task').toLowerCase() }} {{ item.no[i] }}</small>
              <small v-if="i < item.ageCat.length - 1" class="q-px-xs"> | </small>
            </span>
              <br/>
              <q-chip dense v-for="cat of item.categories">{{ cat }}</q-chip>
            </div>
            <div class="q-mx-lg q-mt-md">
              <div class="parsed" v-html="parseMarkdown(item.description)"></div>

              <p class="text-h6">{{ getLocaleText('question') }}</p>

              <div v-for="q of item.questions" class="q-pb-md">
                <div class="parsed" v-html="parseMarkdown(q.question)"/>
                <v-question-form :ref="`q-${item.id}`" :question="q" :is-enabled="!showAnswers"/>
              </div>

              <q-expansion-item v-if="item.explanation" :label="getLocaleText('questionExplanation')">
                <div class="q-mx-md parsed" v-html="parseMarkdown(item.explanation)"></div>
              </q-expansion-item>
              <q-expansion-item v-if="item.informatics" :label="getLocaleText('thisIsInformatics')">
                <div class="q-mx-md parsed" v-html="parseMarkdown(item.informatics)"></div>
              </q-expansion-item>
            </div>
          </q-card-section>
        </q-card>
      </div>
      <template v-slot:loading>
        <div class="full-width row justify-center q-ma-md">
          <q-spinner-dots color="primary" size="40px"/>
        </div>
      </template>
    </q-infinite-scroll>
    <div>
      <q-page-sticky v-if="selectionActiveNotEmpty" position="bottom-right" :offset="[18, 64]">
        <q-btn fab-mini :icon="icons.outlinedQuiz" color="blue"
               @click="$router.push({ path: 'quiz', query: { tasks: encodeURIComponent(selection.list.join('-')) }})"/>
      </q-page-sticky>
      <q-page-sticky v-if="selectionActiveNotEmpty" position="bottom-right" :offset="[18, 18]">
        <q-btn fab-mini :icon="icons.outlinedPrint" color="blue"
               @click="$router.push({ path: 'print', query: { tasks: encodeURIComponent(selection.list.join('-')) }})"/>
      </q-page-sticky>
      <q-page-scroller class="gt-xs" position="bottom-right" :scroll-offset="300"
                       :offset="[18, selectionActiveNotEmpty ? 110 : 18]">
        <q-btn fab-mini :icon="icons.outlinedArrowUpward" color="blue"/>
      </q-page-scroller>
    </div>

  </q-page-container>

</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {marked} from "marked";
import {
  outlinedArrowUpward,
  outlinedExpandMore,
  outlinedPrint,
  outlinedQuiz
} from '@quasar/extras/material-icons-outlined';
import VQuestionForm from "../components/VQuestionForm.vue";
import ExtendedVueRoot from "../models/ExtendedRoot";
import {QInfiniteScroll} from "quasar";
import TaskIndex from "../models/TaskIndex";
import CombinedTask from "../models/CombinedTask";
import Question from "../models/questions/Question";

interface Country {
  label: string,
  value: string
}

export default defineComponent({
  name: 'TasksView',
  components: {VQuestionForm},
  data() {
    return {
      loading: false as boolean,
      selection: {
        list: [],
        enabled: false
      },
      icons: {
        outlinedArrowUpward,
        outlinedExpandMore,
        outlinedPrint,
        outlinedQuiz
      },
      showAnswers: false,
      filters: {
        expanded: false as boolean,
        all: {
          countries: [] as Country[],
          years: [] as number[],
          rounds: [] as number[],
          ageCategories: ["ben", "jun", "sen"] as string[],
          categories: [] as string[]
        },
        year: 2025 as number,
        round: 1 as number,
        ageCategory: "ben" as string,
        title: "" as string,
        filteredCountries: [] as Country[],
        countries: [] as Country[],
        categories: [] as string[]
      },

      indexedTasks: [] as TaskIndex[],
      indexedTasksFiltered: [] as TaskIndex[],
      filteredTasks: [] as CombinedTask[],
    }
  },
  mounted() {
    this.fetchIndex();
  },

  computed: {
    lang(): string {
      return (this.$root as ExtendedVueRoot).selectedLang;
    },
    noCacheHeaders(): Headers {
      const headers: Headers = new Headers();
      headers.append('pragma', 'no-cache');
      headers.append('cache-control', 'no-cache');
      return headers;
    },
    selectionActiveNotEmpty(): boolean {
      return this.selection.list.length > 0 && this.selection.enabled;
    },
    quizActive(): boolean {
      const quizData = localStorage.getItem("quiz");
      if (quizData != null && quizData === "string") {
        return !JSON.parse(quizData).confirmed;
      }
      return false;
    }
  },
  methods: {
    getLocaleText(path: string): string {
      return (this.$root as ExtendedVueRoot).getLocaleText(path);
    },

    filterCountries(val: string, update: any) {
      update(() => {
        if (val === '') {
          this.filters.filteredCountries = this.filters.all.countries;
        } else {
          const needle = val.toLowerCase();
          this.filters.filteredCountries = this.filters.all.countries.filter(v => v.label.toLowerCase().indexOf(needle) > -1);
        }
      })
    },

    fetchIndex(): void {
      fetch(`${import.meta.env.VITE_API_PATH}/tasks/index-${this.lang === 'et' ? 'est' : 'rus'}.json`, {headers: this.noCacheHeaders})
          .then(r => r.json())
          .then(d => this.indexedTasks = d);
    },

    filterTasks() {
      this.filteredTasks = [];
      this.$nextTick(function () {
        (this.$refs.infiniteScroll as typeof QInfiniteScroll).setIndex(-1);
        (this.$refs.infiniteScroll as typeof QInfiniteScroll).resume();
      });

      let filtered: TaskIndex[] = [];
      this.indexedTasks.filter(d =>
          (!this.filters.countries || this.filters.countries.length == 0 || this.filters.countries.map(c => c.value).includes(d.country)) &&
          (!this.filters.categories || this.filters.categories.length == 0 || d.categories.some(c => this.filters.categories.includes(c.toLowerCase().trim()))) &&
          (!this.filters.year || d.year === this.filters.year) &&
          (!this.filters.round || d.round === this.filters.round) &&
          (!this.filters.ageCategory || d.ageCat.includes(this.filters.ageCategory)) &&
          (!this.filters.title || d.title.toLowerCase().includes(this.filters.title.toLowerCase()))
      ).forEach(t => filtered.push(t));


      filtered = filtered.sort((a, b) => {
        if (a.year === b.year) return a.no[0] - b.no[0];
        return a.year - b.year;
      });

      this.indexedTasksFiltered = filtered;
    },

    async fetchNext(index: number, done: any): Promise<void> {
      const start: number = index * 5;
      const end: number = start + 5;

      let taskNo: number;
      let questionCount: number;
      for (const taskDesc of this.indexedTasksFiltered.slice(start, end)) {
        await fetch(`${import.meta.env.VITE_API_PATH}/${taskDesc.path}`, {headers: this.noCacheHeaders})
            .then(r => r.json())
            .then(td => {
              this.filteredTasks.push({...taskDesc, ...td})
              taskNo = taskDesc.id;
              questionCount = td.questions.length;
            });

        if (this.showAnswers) {
          await this.$nextTick(() => {
            for (const questionIndex of Array(questionCount).keys()) {
              this.setCorrectAnswer(taskNo, questionIndex);
            }
          });
        }
      }


      if (end >= this.indexedTasksFiltered.length) {
        (this.$refs.infiniteScroll as typeof QInfiniteScroll).stop();
      }
      done();
    },

    setCorrectAnswer(taskNo: number, questionIndex: number): void {
      (this.$refs[`q-${taskNo}`] as typeof VQuestionForm)[questionIndex].toggleCorrectAnswer();
    },

    parseMarkdown(markdown: string) {
      if (markdown) {
        markdown = markdown.replaceAll("![](", `![](${import.meta.env.VITE_API_PATH}/`)
        markdown = markdown.replaceAll("img src=\"", `img src="${import.meta.env.VITE_API_PATH}/`)
        return marked.parse(markdown);
      } else {
        return "";
      }
    }
  },
  watch: {
    indexedTasks() {
      this.filters.all.years = [...new Set(this.indexedTasks.map(d => d.year))].sort().reverse();
      this.filters.year = this.filters.all.years[0];

      this.filters.all.rounds = [...new Set(this.indexedTasks.filter(d => d.year == this.filters.year).map(d => d.round))].sort();
      this.filters.round = this.filters.all.rounds[0];


      const cats: Set<string> = new Set();
      for (const d of this.indexedTasks) {
        for (const cat of d.categories) {
          cats.add(cat.toLowerCase().trim());
        }
      }
      this.filters.all.categories = [...cats].sort((a, b) => a > b ? 1 : -1);


      const countries = [...new Set(this.indexedTasks.map(d => d.country).filter(d => d))];
      this.filters.all.countries = countries.map(code => {
        return {
          label: this.getLocaleText(`countries.${code}`),
          value: code
        }
      }).sort((a, b) => (a.label > b.label) ? 1 : -1);

      this.filterTasks();
    },

    'filters.year'() {
      this.filters.all.rounds = [...new Set(this.indexedTasks.filter(d => d.year == this.filters.year).map(d => d.round))].sort();
    },

    lang() {
      this.fetchIndex();
    },

    showAnswers() {
      if (this.showAnswers) {
        for (const task of this.filteredTasks) {
          task.questions.forEach((question: Question, index: number) => this.setCorrectAnswer(task.id, index));
        }
      } else {
        for (const task of this.filteredTasks) {
          task.questions.forEach((question: Question, index: number) => {
            (this.$refs[`q-${task.id}`] as typeof VQuestionForm)[index].emptyAnswer();
          });
        }
      }
    }
  }
});
</script>

<style>
img {
  max-width: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
}

.parsed table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

code {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  display: inline;
}

</style>