<template>
  <q-option-group :options="question.form" type="checkbox" :disable="!enabled" v-model="answer">
    <template v-slot:label="opt">
      <div class="full-width row justify-center items-center">
        <span style="padding-left: 5px" v-html="parseMarkdown(opt.value + '. ' + opt.label)"/>
      </div>
    </template>
  </q-option-group>
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";
import {marked} from "marked";
import {AnswerState} from "../models/questions/AnswerState";
import CheckboxQuestion from "../models/questions/CheckboxQuestion";

export default defineComponent({
  name: 'VCheckboxQuestion',
  props: {
    question: {
      required: true,
      type: Object as PropType<CheckboxQuestion>
    },
    enabled: {
      type: Boolean,
      default: true
    }
  },
  expose: ['emptyAnswer', 'toggleCorrectAnswer'],
  data() {
    return {
      showCorrect: false as boolean
    }
  },
  computed: {
    answer: {
      get() {
        return this.showCorrect ? this.question.answer[0] : this.question.userAnswer;
      },
      set(newVal: any) {
        if (!this.showCorrect) {
          this.question.userAnswer = newVal;
          if (this.question.userAnswer.length === 0) {
            this.question.state = AnswerState.EMPTY;
          } else {
            this.question.state = this.question.answer.some(a => this.arrayEquals(this.question.userAnswer, a)) ? AnswerState.CORRECT : AnswerState.INCORRECT;
          }
        }
      }
    }
  },
  created() {
    if (!this.question.userAnswer) {
      this.question.userAnswer = []
    }
  },
  methods: {
    parseMarkdown(markdown: string) {
      if (markdown) {
        markdown = markdown.replaceAll("![](", `![](${import.meta.env.VITE_API_PATH}/`)
        markdown = markdown.replaceAll("img src=\"", `img src="${import.meta.env.VITE_API_PATH}/`)
        return marked.parseInline(markdown);
      } else {
        return "";
      }
    },

    arrayEquals(a: any[], b: any[]): boolean {
      return Array.isArray(a) &&
          Array.isArray(b) &&
          a.length === b.length &&
          a.every((val, index) => val === b[index]);
    },

    emptyAnswer(): void {
      this.question.userAnswer = [];
    },

    toggleCorrectAnswer(enabled: boolean): void {
      this.showCorrect = enabled;
    }
  }
});

</script>