<template>
  <span>
  <q-input v-model.number="intValue" :disable="!enabled" outlined dense type="number" :min="question.form?.start"
           :max="question.form?.end" bottom-slots>
    <template v-slot:hint>
      <div class="full-width">
        <p v-if="question.type === 'integerRange'">{{ getLocaleText('integerRange') }} {{ question.form?.start }} - {{question.form?.end }}</p>
        <p v-else>{{ getLocaleText('integer') }}</p>
      </div>
    </template>
  </q-input>
  </span>
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";
import {AnswerState} from "../models/questions/AnswerState";
import IntegerQuestion from "../models/questions/IntegerQuestion";
import ExtendedVueRoot from "../models/ExtendedRoot";

export default defineComponent({
  name: 'VIntegerQuestion',
  expose: ['emptyAnswer', 'toggleCorrectAnswer'],
  props: {
    question: {
      required: true,
      type: Object as PropType<IntegerQuestion>
    },
    enabled: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      showCorrect: false as boolean
    }
  },
  computed: {
    intValue: {
      get() {
        return this.showCorrect ? this.question.answer[0] : this.question.userAnswer;
      },
      set(val: number | string) {
        if (!this.showCorrect) {
          this.question.userAnswer = val;
          let newState = AnswerState.EMPTY;
          if (val !== '') {
            newState = this.question.answer.includes(Number(val)) ? AnswerState.CORRECT : AnswerState.INCORRECT;
          }
          this.question.state = newState;
        }
      }
    }
  },
  methods: {
    getLocaleText(path: string): string {
      return (this.$root as ExtendedVueRoot).getLocaleText(path);
    },
    emptyAnswer(): void {
      this.intValue = '';
    },
    toggleCorrectAnswer(enabled: boolean): void {
      this.showCorrect = enabled;
    }
  },
  watch: {
    'question.userAnswer'() {
      this.intValue = this.intValue;
    }
  }
});

</script>

<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>