<template>
    <span v-for="el of question.form">
      <q-select dense options-dense v-model="answer[el.value]" :disable="!enabled" :label="el.label" :options="el.matches">
        <template v-slot:label>
          <span v-html="parseMarkdown(el.label)"></span>
        </template>
        <template v-slot:selected>
          <span v-html="parseMarkdown(answer[el.value])"></span>
        </template>
        <template v-slot:option="scope">
          <q-item v-bind="scope.itemProps">
            <q-item-section>
              <q-item-label>
                <span v-html="parseMarkdown(scope.opt)"></span>
              </q-item-label>
            </q-item-section>
          </q-item>
        </template>
      </q-select>
    </span>
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";
import {marked} from "marked";
import {AnswerState} from "../models/questions/AnswerState";
import MatchQuestion from "../models/questions/MatchQuestion";

export default defineComponent({
  name: 'VMatchQuestion',
  props: {
    question: {
      type: Object as PropType<MatchQuestion>,
      required: true
    },
    enabled: {
      type: Boolean,
      default: true
    }
  },
  expose: ['emptyAnswer', 'toggleCorrectAnswer'],
  data() {
    return {
      showCorrect: false as boolean
    }
  },

  created() {
    this.emptyAnswer();
  },

  computed: {
    answer(): any {
      return this.showCorrect ? this.question.answer[0] : this.question.userAnswer;
    }
  },

  methods: {
    parseMarkdown(markdown: string) {
      if (markdown) {
        markdown = markdown.replaceAll("![](", `![](${import.meta.env.VITE_API_PATH}/`)
        markdown = markdown.replaceAll("img src=\"", `img src="${import.meta.env.VITE_API_PATH}/`)
        return marked.parseInline(markdown);
      } else {
        return "";
      }
    },
    emptyAnswer(): void {
      this.question.userAnswer = {};
      for (const x of this.question.form) {
        this.question.userAnswer[x.value] = undefined;
      }
    },

    toggleCorrectAnswer(enabled: boolean): void {
      this.showCorrect = enabled;
    }
  },

  watch: {
    'question.userAnswer': {
      deep: true,
      handler() {
        let fullyAnswered = true;
        Object.keys(this.question.userAnswer).forEach(k => {
          if (this.question.userAnswer[k] === undefined) fullyAnswered = false;
        })

        let state: AnswerState = AnswerState.EMPTY;
        if (fullyAnswered) {
          state = this.question.answer.some(a => JSON.stringify(this.question.userAnswer) === JSON.stringify(a)) ? AnswerState.CORRECT : AnswerState.INCORRECT;
        }
        this.question.state = state;
      }
    }
  }
});

</script>

<style>
.q-item__label img {
  max-height: 70px !important;
}

.q-field img {
  max-height: 70px !important;
}
</style>