<template>
  <v-integer-question ref="integer" v-if="question.type === 'integer' || question.type === 'integerRange'" :question="question" :enabled="isEnabled && !confirmed"/>
  <v-radio-question ref="radio" v-else-if="question.type === 'radio'" :question="question" :enabled="isEnabled && !confirmed"/>
  <v-checkbox-question ref="checkbox" v-else-if="question.type === 'checkbox'" :question="question" :enabled="isEnabled && !confirmed"/>
  <v-text-question ref="text" v-else-if="question.type === 'text'" :question="question" :enabled="isEnabled && !confirmed"/>
  <v-match-question ref="match" v-else-if="question.type === 'match'" :question="question" :enabled="isEnabled && !confirmed"/>
  <span v-if="question.type !== 'invalid'">
    <q-btn v-if="!confirmed && !quizView" :disable="answer === AnswerState.EMPTY" outline color="primary"
           class="q-mt-sm" @click="confirmed = true">{{ getLocaleText('submit') }}</q-btn>
    <q-banner dense rounded inline-actions v-if="(correctAnswerSelected || correctAnswerDisplayed) && confirmed" class="text-white bg-green-5 q-my-sm">
      {{ getLocaleText('correctAnswer') }}
      <template v-slot:action>
        <q-btn v-if="correctAnswerDisplayed" dense flat color="white" :label="getLocaleText('displayYourAnswer')" @click="toggleCorrectAnswer"/>
        <q-btn v-if="isEnabled" dense flat color="white" :label="getLocaleText('clearAnswer')" @click="emptyAnswer"/>
      </template>
    </q-banner>
    <q-banner dense rounded inline-actions v-else-if="!correctAnswerDisplayed && confirmed" class="text-white bg-red-5 q-my-sm">
      {{ getLocaleText('wrongAnswer') }}
      <template v-slot:action>
        <q-btn flat dense color="white" :label="getLocaleText('showCorrect')" @click="toggleCorrectAnswer" class="q-mx-sm q-px-sm"/>
        <q-btn v-if="isEnabled" flat dense color="white" :label="getLocaleText('clearAnswer')" @click="emptyAnswer" class="q-mx-sm q-px-sm"/>
      </template>
    </q-banner>
  </span>
</template>

<script lang="ts">
import {defineComponent, PropType} from 'vue';
import VMatchQuestion from "./VMatchQuestion.vue";
import VIntegerQuestion from "./VIntegerQuestion.vue";
import VRadioQuestion from "./VRadioQuestion.vue";
import VCheckboxQuestion from "./VCheckboxQuestion.vue";
import VTextQuestion from "./VTextQuestion.vue";
import {AnswerState} from "../models/questions/AnswerState";
import ExtendedVueRoot from "../models/ExtendedRoot";
import {marked} from "marked";
import Question from "../models/questions/Question";


export default defineComponent({
  name: 'VQuestionForm',
  components: {VTextQuestion, VCheckboxQuestion, VRadioQuestion, VIntegerQuestion, VMatchQuestion},
  props: {
    question: {type: Object as PropType<Question>, required: true},
    isConfirmed: {type: Boolean, default: false},
    isEnabled: {type: Boolean, default: true},
    quizView: {type: Boolean, default: false}
  },
  expose: ['toggleCorrectAnswer', 'emptyAnswer', 'answerChanged'],
  emits: ['answerChanged'],
  data() {
    return {
      answer: AnswerState.EMPTY as AnswerState,
      confirmed: false as boolean,
      correctAnswerDisplayed: false as boolean,
      AnswerState
    }
  },
  mounted() {
    this.correctAnswerDisplayed = false;
    this.confirmed = this.isConfirmed;
    if (!this.qTypeRef) return;
  },
  computed: {
    qTypeRef(): string | null {
      const qType = this.question.type;
      if (qType === 'invalid') return null;
      if (qType === 'integerRange') return 'integer';
      return qType;
    },
    correctAnswerSelected(): boolean {
      return this.question.state === AnswerState.CORRECT;
    }
  },
  methods: {
    getLocaleText(path: string): string {
      return (this.$root as ExtendedVueRoot).getLocaleText(path);
    },
    emptyAnswer(): void {
      if (!this.qTypeRef) return;
      if (this.correctAnswerDisplayed) this.toggleCorrectAnswer();
      (this.$refs[this.qTypeRef] as typeof VIntegerQuestion | typeof VTextQuestion | typeof VRadioQuestion | typeof VCheckboxQuestion | typeof VMatchQuestion).emptyAnswer();
      this.confirmed = false;
    },
    toggleCorrectAnswer(): void {
      if (!this.qTypeRef) return;
      this.correctAnswerDisplayed = !this.correctAnswerDisplayed;
      (this.$refs[this.qTypeRef] as typeof VIntegerQuestion | typeof VTextQuestion | typeof VRadioQuestion | typeof VCheckboxQuestion | typeof VMatchQuestion).toggleCorrectAnswer(this.correctAnswerDisplayed);
    },

    parseMarkdown(markdown: string) {
      if (markdown) {
        markdown = markdown.replaceAll("![](", `![](${import.meta.env.VITE_API_PATH}/`)
        markdown = markdown.replaceAll("img src=\"", `img src="${import.meta.env.VITE_API_PATH}/`)
        return marked.parseInline(markdown);
      } else {
        return "";
      }
    }
  },
  watch: {
    'question.state'() {
      this.answer = this.question.state || AnswerState.EMPTY;
      this.$emit('answerChanged', this.question.state || AnswerState.EMPTY);
    }
  }
});
</script>