<template>
  <q-option-group :options="question.form" type="radio" :disable="!enabled" v-model="radioValue">
    <template v-slot:label="opt">
      <div class="full-width row justify-center items-center">
        <span style="padding-left: 5px" v-html="parseMarkdown(opt.value + '. ' + opt.label)"/>
      </div>
    </template>
  </q-option-group>
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";
import {marked} from "marked";
import {AnswerState} from "../models/questions/AnswerState";
import RadioQuestion from "../models/questions/RadioQuestion";

export default defineComponent({
  name: 'VRadioQuestion',
  props: {
    question: {
      type: Object as PropType<RadioQuestion>,
      required: true
    },
    enabled: {
      type: Boolean,
      default: true
    }
  },
  expose: ['emptyAnswer', 'toggleCorrectAnswer'],
  data() {
    return {
      value: '' as string,
      showCorrect: false as boolean
    }
  },
  computed: {
    radioValue: {
      get() {
        return this.showCorrect ? this.question.answer[0] : this.question.userAnswer;
      },
      set(val: string) {
        if (this.showCorrect) return;
        this.question.userAnswer = val;
        let newState: AnswerState = AnswerState.EMPTY;
        if (val !== '') {
          newState = this.question.answer.includes(val) ? AnswerState.CORRECT : AnswerState.INCORRECT;
        }
        this.question.state = newState;
        this.$emit('answerChanged', newState);

      }
    }
  },
  methods: {
    parseMarkdown(markdown: string) {
      if (markdown) {
        markdown = markdown.replaceAll("![](", `![](${import.meta.env.VITE_API_PATH}/`)
        markdown = markdown.replaceAll("img src=\"", `img src="${import.meta.env.VITE_API_PATH}/`)
        return marked.parseInline(markdown);
      } else {
        return "";
      }
    },
    emptyAnswer(): void {
      this.radioValue = '';
    },
    toggleCorrectAnswer(enabled: boolean): void {
      this.showCorrect = enabled;
    }
  },
  watch: {
    'question.userAnswer'() {
      this.radioValue = this.radioValue;
    }
  }
});

</script>