<template>
  <q-input v-model="textValue" :disable="!enabled" outlined dense bottom-slots />
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";
import {AnswerState} from "../models/questions/AnswerState";
import TextQuestion from "../models/questions/TextQuestion";

export default defineComponent({
  name: 'VTextQuestion',
  props: {
    question: {
      type: Object as PropType<TextQuestion>,
      required: true
    },
    enabled: {
      type: Boolean,
      default: true
    }
  },
  expose: ['emptyAnswer', 'toggleCorrectAnswer'],
  data() {
    return {
      showCorrect: false as boolean
    }
  },
  computed: {
    textValue: {
      get() {
        return this.showCorrect ? this.question.answer[0] : this.question.userAnswer;
      },
      set(val: string) {
        if (this.showCorrect) return;
        this.question.userAnswer = val;
        let newState: AnswerState = AnswerState.EMPTY;
        if (val !== '') {
          newState = this.question.answer.includes(val) ? AnswerState.CORRECT : AnswerState.INCORRECT;
        }
        this.question.state = newState;
      }
    }
  },
  methods: {
    emptyAnswer(): void {
      this.textValue = '';
    },
    toggleCorrectAnswer(enabled: boolean): void {
      this.showCorrect = enabled;
    }
  },
  watch: {
    'question.userAnswer'() {
      this.textValue = this.textValue;
    }
  }
});

</script>