<template>
  <router-view/>
</template>

<script lang="ts">
import * as locales from '../src/languages/translations.json';
import {defineComponent} from "vue";

export default defineComponent({
  name: "App",
  data() {
    return {
      selectedLang: "et" as string,
      locales: {} as any
    }
  },

  mounted() {
    // @ts-ignore
    this.emitter.on("setLang", (lang: string) => {
      this.selectedLang = lang;
    })
    this.locales = locales;
  },

  methods: {
    getLocaleText(path: string): string {
      if (!path) return '';
      let cursor: any = this.locales;
      if (path.startsWith("countries.")) {
        const countryCode = path.split(".")[1].toUpperCase();
        const countryName = new Intl.DisplayNames([this.selectedLang], {type: 'region'});
        return countryName.of(countryCode) || "";
      }
      for (const pathToken of path.split(".")) {
        cursor = cursor[pathToken]
      }
      return cursor[this.selectedLang];
    }
  }
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.parsed h3 {
  font-size: 13px;
  font-weight: 800;
}

</style>
