<template>
  <router-link class="text-primary" :to="{ name: 'home' }">
    <img src="/src/assets/logo.png" alt="Kobras logo" style="height: 50px"/>
  </router-link>
  <q-space/>
  <span class="full-width row justify-end gt-sm">
    <span v-for="link of menuLinks" key="key">
      <q-btn flat color="dark" :class="{'text-weight-bold': isActiveMenuElement(link.key), 'q-px-md': true}" :to="{ name: link.key }" :label="getLocaleText(`menu.${link.key}`) || link.key"/>
    </span>
    <q-select v-model="lang" :options="languages" dense rounded outlined class="q-ml-md">
      <template v-slot:prepend><q-icon :name="icons.lang"/></template>
      <template v-slot:selected>{{ selectedLang.code.toUpperCase() }}</template>
      <template v-slot:option="scope">
        <q-item v-bind="scope.itemProps">
          <q-item-section>
            {{ scope.opt.language }}
          </q-item-section>
        </q-item>
      </template>
    </q-select>
  </span>
  <span class="lt-md">
    <q-btn flat round color="dark" @click="dialog = true" :icon="icons.menu"/>
  </span>
  <q-dialog v-model="dialog" maximized persistent class="lt-md" transition-show="slide-left" transition-hide="slide-right">
    <q-card class="bg-white">
          <span class="row full-width">
            <q-space/>
                    <q-btn round flat :icon="icons.close" v-close-popup/>
          </span>
      <span class="full-height col content-center">
            <span class="row full-width justify-center">
              <router-link class="text-primary" style="text-decoration: none" :to="{ name: 'home' }" v-close-popup>
                <img src="/src/assets/logo.png" alt="Kobras logo" style="height: 50px"/>
              </router-link>
            </span>
        <span v-for="link of menuLinks" key="key">
          <q-btn class="full-width" flat color="primary" :class="{'text-weight-bold': isActiveMenuElement(link.key), 'q-py-md': true}"
                 :to="{ name: link.key }" :label="getLocaleText(`menu.${link.key}`) || link.key" v-close-popup/>
        </span>
            <span class="full-width justify-center row">
              <q-select v-model="lang" model-value="code" :options="languages" dense rounded outlined style="width: 100px">
                <template v-slot:prepend><q-icon :name="icons.lang"/></template>
                <template v-slot:selected>{{ selectedLang.code.toUpperCase() }}</template>
                <template v-slot:option="scope">
                  <q-item v-bind="scope.itemProps">
                    <q-item-section>
                      {{ scope.opt.language }}
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </span>
          </span>
    </q-card>
  </q-dialog>
</template>


<script lang="ts">
import {defineComponent} from "vue";
import ExtendedVueRoot from "../models/ExtendedRoot";
import {outlinedMenu, outlinedClose, outlinedLanguage} from '@quasar/extras/material-icons-outlined';

interface Language {
  code: string,
  language: string
}

export default defineComponent({
  name: 'MainMenu',
  data() {
    return {
      icons: {
        menu: outlinedMenu,
        lang: outlinedLanguage,
        close: outlinedClose
      },
      dialog: false as boolean,
      selectedLang: {
        code: 'et',
        language: 'Eesti'
      } as Language,
      menuLinks: [
        {key: "home"},
        {key: "tasks"},
        {key: "results"},
        {key: "history"},
        {key: "guide"}
      ] as {key: string}[],
      languages: [
        {code: 'et', language: 'Eesti'},
        {code: 'ru', language: 'Русский'}
      ] as Language[]
    }
  },
  mounted() {
    if (localStorage.lang) {
      this.lang = JSON.parse(localStorage.lang);
    }
  },
  methods: {
    isActiveMenuElement(pathName: string): boolean {
      return pathName === this.$route.name;
    },

    getLocaleText(path: string): string {
      return (this.$root as ExtendedVueRoot).getLocaleText(path);
    }
  },
  computed: {
    lang: {
      get(): Language {
        return this.selectedLang;
      },

      set(val: Language) {
        this.selectedLang = val;
        localStorage.lang = JSON.stringify(val);
        // @ts-ignore
        this.emitter.emit("setLang", this.selectedLang.code);
      }
    }
  }
});
</script>


<style lang="scss">
.logo {
  height: 50px;
}
</style>
