<template>
  <div class="constrained">
    <q-layout view="hHR lpr lfr">
      <!-- Header -->
      <q-header class="text-primary full-width row justify-center"
                :class="scrollInfo == null || scrollInfo.position && scrollInfo.position.top < 75 ? 'bg-transparent' : 'bg-white nav-bar-shadow'">
        <q-scroll-observer @scroll="onScroll"/>
        <q-toolbar class="col-xl-6 col-md-9 col-sm-11">
          <main-menu/>
        </q-toolbar>
      </q-header>
      <!-- Main content -->
      <q-page-container>
        <router-view/>
      </q-page-container>
    </q-layout>
  </div>
</template>


<script lang="ts">
import {defineComponent} from "vue";
import {Scroll} from 'quasar';
import MainMenu from "./MainMenu.vue";


export default defineComponent({
  name: 'MainLayout',
  components: {MainMenu},
  data() {
    return {
      scrollInfo: false as any
    }
  },
  methods: {
    onScroll(info: Scroll): void {
      this.scrollInfo = info;
    }
  }
});

</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

.constrained {
  width: 100%;
  height: 100%;
  background-color: #F0F2F5;
}

.constrained .q-layout,
.constrained .q-header,
.constrained .q-footer {
  margin: 0 auto;
}

.nav-bar {
  vertical-align: middle;
  //width: max(70%, 1000px) !important;
  padding: 0 max(calc((100vw - 1200px) / 2), 30px);
}

.nav-bar-shadow {
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 20%);
}


</style>
