<template>
  <div class="print-layout">
  <div v-for="task in tasks" class="task">
    <h5>{{ task.title }}</h5>
    <div class="parsed" v-html="parseMarkdown(task.description, false)"/>
    <div v-for="question in task.questions">
      <div class="parsed" v-html="parseMarkdown(question.question, false)"/>
      <div v-if="['radio', 'checkbox'].includes(question.type)">
        <div v-for="option of question.form">
          <q-icon :name="question.type === 'radio' ? icons.outlinedCircle : icons.outlinedCheckBox" size="sm"/>
          {{ option.value }}. <span v-html="parseMarkdown(option.label, true)"/>
        </div>
      </div>
      <div v-else-if="['text', 'integer', 'integerRange'].includes(question.type)">
        <strong>Vastus:</strong> __________________________________
      </div>
      <div v-else-if="question.type === 'match'">
        <div v-for="selections of question.form">
          {{ selections.value }}. <span v-html="parseMarkdown(selections.label, true)"/> <span
            class="q-mr-sm" v-for="match of selections.matches"><q-icon :name="icons.outlinedCircle" size="sm"/>{{ match }}</span>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>


<script lang="ts">
import {defineComponent} from "vue";
import VQuestionForm from "../components/VQuestionForm.vue";
import {marked} from "marked";
import CombinedTask from "../models/CombinedTask";
import {outlinedCircle, outlinedCheckBox} from "@quasar/extras/material-icons-outlined";
import TaskIndex from "../models/TaskIndex";
import ExtendedVueRoot from "../models/ExtendedRoot";


export default defineComponent({
  name: 'PrintLayout',
  components: {VQuestionForm},
  data() {
    return {
      tasks: [] as CombinedTask[],
      icons: {
        outlinedCircle,
        outlinedCheckBox
      }
    }
  },
  computed: {
    lang(): string {
      return (this.$root as ExtendedVueRoot).selectedLang;
    }
  },
  methods: {
    async fetchTask(path: string): Promise<void> {
      await fetch(`${import.meta.env.VITE_API_PATH}/${path}`)
          .then(r => r.json())
          .then((task: CombinedTask) => {
            this.tasks.push(task);
          });
    },
    parseMarkdown(markdown: string, inline: boolean) {
      if (markdown) {
        markdown = markdown.replaceAll("![](", `![](${import.meta.env.VITE_API_PATH}/`)
        markdown = markdown.replaceAll("img src=\"", `img src="${import.meta.env.VITE_API_PATH}/`)
        return inline ? marked.parseInline(markdown) : marked.parse(markdown);
      } else {
        return "";
      }
    }
  },
  mounted() {
    if (this.$route.query.tasks != null && typeof this.$route.query.tasks === 'string') {
      const taskIndexes: string[] = decodeURIComponent(this.$route.query.tasks).split("-");
      fetch(`${import.meta.env.VITE_API_PATH}/tasks/index-${this.lang === 'et' ? 'est' : 'rus'}.json`)
          .then(r => r.json())
          .then((d: TaskIndex[]) =>
              d.filter(taskDesc => taskIndexes.includes(String(taskDesc.id)))
                  .forEach(taskDesc => this.fetchTask(taskDesc.path)));
    }
  }
});

</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

.print-layout {
  margin: 20px;
}

@page {
  margin: 1cm
}

.task {
  break-inside: avoid;
  margin-bottom: 1cm;
}

.parsed table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

h5 {
  margin: 0;
}

p {
  margin-bottom: 0.2cm;
}

</style>
